@use "../../../../scss_files/index.scss" as *;

.card-detail-wrapper {
    position: fixed;
    width: 100%;
    height: calc(100vh - $header-height - $mobile-navbar-height - 24px);
    max-width: 300px;
    max-height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: $white;
    box-shadow: 4px 2px 2px 2px #0c2e621f;
    border: 0.5px solid $mediumgray;
    border-radius: 24px;
}

