@use "../../../scss_files/index.scss" as *;

.outer-wrapper {
  width: 90%;
  max-width: 500px;
  height: 95%;
  max-height: 600px;
  @include flex-container(column, center, space-between);
}

.login-content-wrapper {
  width: 100%;
  height: 85%;
  max-height: 400px;
  padding-block: 1.5em;
  @include flex-container(column, center, space-around);
  border-radius: 30px;
  background-color: $white;
  box-shadow: 1px 1px 6px 1px $mediumgray;
  .title-wrapper {
    width: 90%;
    @include flex-container($direction: column, $align: center, $gap: 8px);
  }
  h1 {
    width: 90%;
    text-align: center;
  }
  .separator {
    width: 60px;
    height: 3px;
    background-color: $lightblue;
  }
}

form {
  width: 90%;
  height: 80%;
  @include flex-container(column, center, space-between);
}

.data-wrapper {
  width: 100%;
  height: 60%;
  max-height: 180px;
  @include flex-container(column, center, space-between);
  .input-wrapper {
    width: 100%;
    height: 100px;
    @include flex-container($direction: column, $justify: space-between);
  }
  .incorrect-data {
    padding-inline: 8px;
    align-self: flex-start;
    font-size: 0.6rem;
    color: $red;
  }
  .email-wrapper,
  .password-wrapper {
    width: 100%;
    padding-inline: 8px;
    @include flex-container($align: center, $gap: 4px);
    border: $bordergray 1px solid;
    border-radius: 8px;
    &:focus-within {
      outline: $lightblue 1px solid;
    }
    input {
      height: 32px;
      flex: 1 1 0;
      outline: none;
      border: none;
    }
  }

  .password-wrapper {
    img {
      cursor: pointer;
    }
  }
}

.remember {
  width: 100%;
  margin: 12px 0 0;
  @include flex-container($align: center, $justify: flex-start, $gap: 8px);
  font-size: 0.9rem;
}

.login-button-wrapper {
  width: 90%;
  @include flex-container($direction: column, $align: center, $gap: 4px);
  button {
    width: 120px;
    height: 32px;
  }
}

a {
  text-decoration: none;
}

.sign-up-button-wrapper {
  width: 90%;
  max-width: 656px;
  @include flex-container($justify: center);
}

.inner-sign-up-button-wrapper {
  @include flex-container($align: center, $gap: 24px);
  font-size: 0.9rem;
}

/* ===================================================================
MEDIA QUERIES
======================================================================*/

@media (min-width: 48em) {
  .sign-up-button-wrapper {
    position: absolute;
    top: 24px;
    right: 32px;
    width: fit-content;
  }

  .data-wrapper {
    height: 65%;
  }

  .login-button-wrapper {
    @include flex-container($align: center, $justify: space-around);
  }
}
