<div class="outer-wrapper">
  <div class="login-content-wrapper">
    <div class="title-wrapper">
      <h1>Log in</h1>
      <div class="separator"></div>
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmitLogin(loginForm)">
      <div class="data-wrapper">
        <div class="input-wrapper">
          <div class="email-wrapper">
            <input
              type="text"
              name="email"
              placeholder="Email*"
              [(ngModel)]="username"
              (input)="clearErrorMessage()"
              #emailInput="ngModel"
              required
            />
            <img src="assets/icons/mail.svg" alt="" />
          </div>
          <div class="password-wrapper">
            <input
              [type]="passwordVisible ? 'text': 'password'"
              name="password"
              id="password"
              placeholder="Password*"
              [(ngModel)]="password"
              (input)="clearErrorMessage()"
              (focus)="onPasswordFocus()"
              (blur)="onPasswordBlur()"
            />
            <img 
            [src]="passwordIcon" 
            alt="Toggle password visibility" 
            (click)="togglePasswordVisibility()"
            />
          </div>
          <div class="incorrect-data">
            {{errorMessage}}
          </div>
        </div>
        <div class="remember">
          <input type="checkbox" name="" id="" />
          <span>Remember me</span>
        </div>
      </div>
      <div class="login-button-wrapper">
        <join-button
          [caption]="'Log in'"
          [type]="'submit'"
          [buttonClass]="'dark-square-button'"
          [width]="'120px'"
          [height]="'32px'"
          [padding]="'0'"
        ></join-button>
        <a routerLink="/main-content">
          <join-button
            [caption]="'Guest Login'"
            [buttonClass]="'light-square-button-blue-hover'"
            [width]="'120px'"
            [height]="'32px'"
            [padding]="'0'"
            [actionType]="'guestLogin'"
          ></join-button>
        </a>
      </div>
    </form>
  </div>
  <div class="sign-up-button-wrapper">
    <div class="inner-sign-up-button-wrapper">
      <span>Not a join user?</span>
      <join-button
        [caption]="'Sign up'"
        [buttonClass]="'dark-square-button'"
        [padding]="'0'"
        [width]="'100px'"
        [height]="'32px'"
        [actionType]="'onToggleShowLogin'"
      ></join-button>
    </div>
  </div>
</div>
