<div class="outer-wrapper">
  <div class="login-content-wrapper">
    <div class="title-wrapper">
      <h1>Log in</h1>
      <div class="separator"></div>
    </div>
    <form action="">
      <div class="data-wrapper">
        <div class="input-wrapper">
          <div class="email-wrapper">
            <input type="text" name="email" id="email" placeholder="Email" />
            <img src="assets/icons/mail.svg" alt="" />
          </div>
          <div class="password-wrapper">
            <input
              type="text"
              name="password"
              id="password"
              placeholder="Password"
            />
            <img src="assets/icons/lock.svg" alt="" />
          </div>
          <div class="incorrect-data">
            Check your email and password. Please try again.
          </div>
        </div>
        <div class="remember">
          <input type="checkbox" name="" id="" />
          <span>Remember me</span>
        </div>
      </div>
      <div class="login-button-wrapper">
        <join-button
          [caption]="'Log in'"
          [buttonClass]="'dark-square-button'"
          [width]="'120px'"
          [height]="'32px'"
          [padding]="'0'"
        ></join-button>
        <a routerLink="/main-content">
          <join-button
            [caption]="'Guest Login'"
            [buttonClass]="'light-square-button-blue-hover'"
            [width]="'120px'"
            [height]="'32px'"
            [padding]="'0'"
          ></join-button>
        </a>
      </div>
    </form>
  </div>
  <div class="sign-up-button-wrapper">
    <div class="inner-sign-up-button-wrapper">
      <span>Not a join user?</span>
      <join-button
        [caption]="'Sign up'"
        [buttonClass]="'dark-square-button'"
        [padding]="'0'"
        [width]="'100px'"
        [height]="'32px'"
        (click)="onSignUpClick()"
      ></join-button>
    </div>
  </div>
  
</div>

