@use "../../../scss_files/index.scss" as *;

.outer-wrapper {
  width: 90%;
  max-width: 500px;
  height: 95%;
  max-height: 600px;
  @include flex-container(column, center, space-between);
}

.login-content-wrapper {
  width: 100%;
  height: 85%;
  max-height: 500px;
  padding-block: 1.5em;
  @include flex-container(column, center, space-between);
  border-radius: 30px;
  background-color: $white;
  box-shadow: 1px 1px 6px 1px $mediumgray;
  .title-wrapper {
    width: 90%;
    @include flex-container($direction: column, $align: center, $gap: 8px);
  }
  h1 {
    margin: 0 0 8px;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
  }
  .separator {
    width: 25%;
    height: 3px;
    background-color: $lightblue;
  }
}

form {
  width: 90%;
  height: 80%;
  @include flex-container($direction: column);
}

.data-wrapper {
  width: 100%;
  height: 60%;
  max-height: 180px;
  @include flex-container($direction: column, $justify: center);
  .input-wrapper {
    width: 100%;
    height: 100px;
    @include flex-container(
      $direction: column,
      $justify: space-between,
      $gap: 2.5em
    );
  }
  .incorrect-data {
    padding-inline: 8px;
    align-self: flex-start;
    font-size: 1rem;
    color: $red;
  }
  .email-wrapper,
  .password-wrapper {
    width: 100%;
    padding-inline: 8px;
    @include flex-container($align: center, $gap: 4px);
    border: 1px solid $bordergray;
    border-radius: 10px;
    &:focus-within {
      outline: $lightblue 1px solid;
    }
    input {
      height: 48px;
      flex: 1 1 0;
      outline: none;
      border: none;
      &::placeholder {
        font-size: 1.1rem;
        color: $bordergray;
      }
    }
  }

  .password-wrapper {
    img {
      cursor: pointer;
    }
  }
}

.login-button-wrapper {
  width: 90%;
  @include flex-container($direction: column, $align: center, $gap: 1em);
  button {
    width: 120px;
    height: 32px;
  }
}

a {
  text-decoration: none;
}

.sign-up-button-wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 656px;
  @include flex-container();
  .inner-sign-up-button-wrapper {
    width: 100%;
    @include flex-container($align: center, $gap: 24px);
    font-size: 0.9rem;
    .not-a-join-user {
      font-size: clamp(16px, 3.5vw, 20px);
    }
  }
}

/* ===================================================================
MEDIA QUERIES
======================================================================*/

@media (min-width: 48em) {
  .sign-up-button-wrapper {
    position: absolute;
    top: 24px;
    right: 32px;
    width: fit-content;
  }

  .data-wrapper {
    height: 65%;
  }

  .login-button-wrapper {
    @include flex-container($align: center, $justify: space-around);
  }
}
