@import "../../../../scss_files/variables.scss";

.section-wrapper {
  width: 100%;
  padding: 1em 0.5em;
  background-color: $white;
  box-shadow: 0px 4px 4px 0px $mediumgray;
}

.header-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: blue 1px solid;
}

.header-wrapper p {
  display: none;
}

@media (min-width: 50em) {
  .header-wrapper {
    margin-inline: 0;
    max-width: unset;
  }
}
