@use "../../../../scss_files/index.scss" as *;

header {
  width: 100%;
  padding: 1em 0.5em;
  background-color: $white;
  box-shadow: 0px 4px 4px 0px $mediumgray;
}

.header-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  @include flex-container();
  & p {
    display: none;
  }
}

.title-and-initial-wrapper {
  width: 90%;
  position: relative;
  @include flex-container($justify: flex-end);
}

.header-icon-wrapper {
  @include flex-container($gap: 16px);
  .header-help-icon {
    display: none;
  }
  .user-icon {
    width: 40px;
    height: 40px;
    @include flex-container($justify: center);
    border-radius: 50%;
    font-weight: 700;
    color: $lightblue;
    cursor: pointer;
  }
}

.header-menu {
  position: absolute;
  top: 52px;
  right: 0;
  z-index: 20;
}

/* ===============================================
MEDIA QUERIES
=================================================*/

@media (min-width: 64em) {
  .header-wrapper {
    margin-inline: 0;
    max-width: unset;
    & p {
      display: block;
    }
  }

  .title-and-initial-wrapper {
    @include flex-container($justify: space-between);
  }

  .header-icon-wrapper {
    .header-help-icon {
      display: block;
    }
  }
}
