@if(task) {
<div class="task-detail-wrapper">
  <div class="task-detail-content-wrapper">
    <div class="task-detail-header-wrapper">
      <div
        class="category-wrapper"
        [ngStyle]="{
          backgroundColor: task.category.color,
          color: task.category.color_brightness ? '#000000' : '#ffffff'
        }"
      >
        {{ task.category.name }}
      </div>
      <join-button
        [buttonIcon]="true"
        [imgSrc]="'assets/icons/close.svg'"
        [buttonClass]="'dark-close-button'"
        [padding]="'0'"
        [width]="'20px'"
        [height]="'20px'"
        [actionType]="'closeTaskDetail'"
      />
    </div>
    <div class="task-detail-text-wrapper">
      <h1>
        {{ task.title }}
      </h1>
      <div class="task-description">
        {{ task.description }}
      </div>
      <div class="task-due-date">
        <span class="meta-label bold_700"> Due date: </span>
        <span>{{ task.due_date | date : "dd/MM/yyyy" }}</span>
      </div>
      <div class="priority-status">
        <span class="meta-label bold_700"> Priority: </span
        ><span>{{ formatPriorityStatus(task.priority) }}</span>
        <img [src]="pathPrefix + task.priority + '.svg'" alt="" />
      </div>
      <div class="contacts-wrapper">
        <div class="assigned-to bold_700">Assigned to:</div>
        <ul class="contact-list">
          @for (contact of task.contacts; track contact) {
          <li class="contact-item">
            <div
              class="contact-icon"
              [ngStyle]="{
                backgroundColor: contact.color,
                color: contact.color_brightness ? '#000000' : '#ffffff'
              }"
            >
              {{ contact.first_name?.charAt(0)
              }}{{ contact.last_name?.charAt(0) }}
            </div>
            <div class="contact-full-name">
              <span>
                {{ contact.name }}
              </span>
            </div>
          </li>
          } @empty {
          <span class="nothing-assigned"
            >No contacts are assigned to this task.</span
          >
          }
        </ul>
      </div>
      <div class="subtasks-wrapper">
        <div class="subtasks bold_700">Subtasks:</div>
        <ul class="subtasks-list">
          @for (subtask of task.subtasks; track subtask) {
          <label [for]="'subtask-' + subtask.id">
            <li class="subtask-item">
              <input
                [id]="'subtask-' + subtask.id"
                type="checkbox"
                [(ngModel)]="subtask.checked_status"
                (ngModelChange)="onSubtaskChange(task.id!, subtask)"
              />
              <span>{{ subtask.title }}</span>
            </li>
          </label>
          } @empty {
          <span class="nothing-assigned">This task has no subtasks.</span>
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="task-detail-button-wrapper">
    <join-button
      [caption]="'Delete'"
      [buttonIcon]="true"
      [buttonCaptionSecond]="true"
      [actionType]="'openDeleteTaskSecurityInfo'"
      [buttonClass]="'light-button-with-icon'"
      [padding]="'0'"
      [imgSrc]="'assets/icons/delete.svg'"
      [imgClass]="'bin'"
      [width]="'80px'"
      [height]="'24px'"
      [id]="task.id"
    />
    <div class="separator"></div>
    <join-button
      [caption]="'Edit'"
      [actionType]="'showEditTaskMode'"
      [buttonIcon]="true"
      [buttonCaptionSecond]="true"
      [buttonClass]="'light-button-with-icon'"
      [padding]="'0'"
      [imgSrc]="'assets/icons/edit_dark.svg'"
      [imgClass]="'pen'"
      [width]="'70px'"
      [height]="'24px'"
      [id]="task.id"
    />
  </div>
</div>
} @if(task && isWarningMessageVisible) {
<join-info
  [alertTitle]="'Alert'"
  [infoQuestion]="'Are you sure you want to delete this task permanently?'"
  [infoText]="'This process is irreversible.'"
  [imageSrc]="'assets/icons/join_logo_white.svg'"
  [imageSrc2]="'assets/icons/close_white.svg'"
  [infoMessageClass]="'security-info-box'"
  [securityQuestion]="true"
  [actionType]="'deleteTask'"
  [caption1]="'Yes, proceed.'"
  [caption2]="'No, preserve.'"
  [id]="task!.id"
/>
}
