@import "../../../../../scss_files/variables.scss";
@import "../../../../../scss_files/mixins.scss";

.task-detail-wrapper {
  height: 100%;
  padding: 1em;
  @include flex-container($direction: column, $align: flex-start);
  border-radius: 20px;
}

.task-detail-content-wrapper {
  width: 100%;
  height: 90%;
  font-size: 0.85rem;
}

.task-detail-header-wrapper {
  width: 100%;
  height: 24px;
  @include flex-container();
  .category-wrapper {
    padding: 0.25em 0.75em;
    font-size: 0.9rem;
    border-radius: 8px;
  }
}

.task-detail-text-wrapper {
  height: calc(100% - 24px - 12px);
  margin: 12px 0 0 0;
  overflow-y: auto;
}

h1 {
  margin: 1em 0 0.5em;
  font-size: 1.4rem;
  font-weight: 700;
}

.task-description,
.task-due-date,
.priority-status,
.assigned-to,
.contact-list {
  margin: 0 0 0.5rem;
}

.task-description {
  line-height: 1.1;
}

.task-due-date {
  @include flex-container($justify: flex-start, $gap: 12px);
}

.priority-status {
  @include flex-container($justify: flex-start, $gap: 12px);
  img {
    width: 16px;
    height: 16px;
  }
}

.meta-label {
  width: 70px;
}

.contacts-wrapper {
  .contact-list {
    padding: 0;
    li {
      padding: 0 0.5em 0.5em;
      @include flex-container($justify: flex-start, $gap: 24px);
      list-style-type: none;
      .contact-icon {
        width: 24px;
        height: 24px;
        @include flex-container($justify: center);
        font-size: 0.7rem;
        border-radius: 50%;
      }
    }
  }
}

.subtasks-wrapper {
  .subtasks-list {
    padding: 0;
  }

  .subtask-item {
    height: 28px;
    margin: 0 0 0.5em;
    padding: 0 0.25em;
    @include flex-container($justify: flex-start, $gap: 12px);
    list-style-type: none;
    border-radius: 8px;
    background-color: $extremelightgray;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: $verylightgray;
    }
  }
}

.task-detail-button-wrapper {
  width: 100%;
  height: 28px;
  margin: 0.25em 0 0;
  @include flex-container($justify: flex-end, $gap: 4px);
  .separator {
    width: 1px;
    background-color: $bordergray;
    height: 90%;
  }
}

.nothing-assigned {
  font-size: 0.8rem;
  color: $gray;
}


join-info {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
}
