@use "../../../../scss_files/index.scss" as *;

.button {
  @include flex-container($justify: center);
  cursor: pointer;
}

.caption-image-wrapper {
  width: 100%;
  height: 100%;
  @include flex-container($justify: center, $gap: 4px);
  .inner-caption-image-wrapper {
    width: fit-content;
    @include flex-container($justify: space-around, $gap: 8px);
  }
  img {
    width: 20px;
    height: 20px;
  }
  .check-icon {
    width: 12px;
  }
}

.dark-square-button {
  background-color: $darkblue;
  color: $white;
  border: 1px solid $darkblue ;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  .check {
    height: 10px;
  }
}

.dark-square-button:disabled,
.dark-square-button:disabled:hover {
  border: 1px solid $darkbluepale ;
  background-color: $darkbluepale;
  color: rgba(255, 255, 255, 0.6);
  cursor: not-allowed;
  opacity: 0.5;
  transition:
    background-color 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  box-shadow: none;
  & img {
    opacity: 0.6;
  }
}

.urgent.active {
  color: $white;
  background-color: $red;
}

.medium.active {
  color: $white;
  background-color: $prioorange;
}

.low.active {
  color: $white;
  background-color: $lightgreen;
}

.dark-square-button:hover {
  background-color: $lightblue;
  border: 1px solid $lightblue;
  box-shadow: 2px 2px 2px 1px $gray;
}

.light-square-button-blue-hover,
.light-square-button {
  background-color: $white;
  color: $darkblue;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid $darkblue;
  border-radius: 8px;
}

.light-square-button-blue-hover-completely {
  border: 1.5px solid $anthracite ;
  border-radius: 8px;
  &:hover {
    color: $lightblue;
    border-color: $lightblue;
    img {
      filter: invert(57%) sepia(58%) saturate(667%) hue-rotate(158deg)
        brightness(93%) contrast(90%);
    }
  }
}

.light-square-button-blue-hover:hover {
  color: $lightblue;
  border: 2px solid $lightblue ;
  box-shadow: 2px 2px 2px 1px $gray;
}

.light-square-button:hover {
  box-shadow: 2px 2px 2px 1px $gray;
}

.white-button {
  border: none;
  outline: none;
  background-color: transparent;
  .button-icon {
    width: 16px;
    height: 16px;
  }
}

.gray-button {
  background-color: $white;
  color: $anthracite;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dark-round-button {
  background-color: $darkblue;
  border-radius: 50%;
  .button-icon {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    padding: 0.7em;
  }
  &:hover {
    border: 2px solid $lightblue ;
    background-color: $lightblue;
  }
}

.light-button-with-icon {
  border: none;
  background-color: $white;
  .inner-caption-image-wrapper {
    width: 100%;
    height: 100%;
    @include flex-container($justify: center, $gap: 8px);
    .bin {
      height: 16px;
    }
    .pen {
      height: 20px;
    }
  }
}

.context-button-light-top {
  background-color: $white;
  border: none;
  border-radius: 16px 16px 0 0;
  .inner-caption-image-wrapper {
    width: 100%;
    height: 100%;
    padding-inline: 8px;
    @include flex-container($justify: flex-start, $gap: 8px);
    border-radius: 16px 16px 0 0;
  }
  img {
    height: 20px;
  }
}

.context-button-light-bottom {
  background-color: $white;
  border: none;
  border-radius: 0 0 0 16px;
  gap: 8px;
  .inner-caption-image-wrapper {
    width: 100%;
    height: 100%;
    padding-inline: 8px;
    @include flex-container($justify: flex-start, $gap: 8px);
    border-radius: 0 0 0 16px;
  }
  img {
    height: 14px;
  }
}

.arrow-button {
  margin-right: auto;
  cursor: pointer;
  background-color: $white;
  border: none;
}

.dark-close-button {
  border: none;
  background-color: $white;
}

.move-to-button {
  margin: 0;
  padding: 0;
  background-color: $white;
  cursor: pointer;
  border: none;
}
