@if (!routerLink) {
<button
  [type]="type"
  [ngClass]="[
    'button',
    buttonClass,
    prioClass,
    isPrioButton && isPrioActive ? 'active' : ''
  ]"
  [style.width]="width"
  [style.height]="height"
  [style.padding]="padding"
  [title]="tooltip"
>
  @switch (true) { @case (buttonCaptionFirst && buttonIcon && isPrioButton) {
  <div class="caption-image-wrapper">
    <span class="bold_600">{{ caption }}</span>
    <img
      [class]="imgClass"
      [src]="isPrioActive ? activeSrc : defaultSrc"
      [alt]="alt"
    />
  </div>
  } @case (buttonCaptionFirst && buttonIcon) {
  <div class="caption-image-wrapper" (click)="actionFunction($event)">
    <span class="bold_600">{{ caption }}</span>
    <img [class]="imgClass" [src]="imgSrc" [alt]="alt" />
  </div>
  } @case (buttonCaptionSecond && buttonIcon) {
  <img [src]="imgSrc" [alt]="alt" /> {{ caption }}
  } @case (buttonIcon) {
  <img
    [src]="imgSrc"
    [alt]="alt"
    (click)="onButtonClick($event, infoMessage)"
  />
  } @default {
  {{ caption }}
  } }
</button>
} @else {
<button
  [routerLink]="routerLink"
  [ngClass]="['button', buttonClass]"
  [style.width]="width"
  [style.height]="height"
  [style.padding]="padding"
  [title]="tooltip"
>
  @switch (true) { @case (buttonCaptionFirst && buttonIcon) {
  {{ caption }} <img [src]="imgSrc" [alt]="alt" />
  } @case (buttonCaptionSecond && buttonIcon) {
  <img [src]="imgSrc" [alt]="alt" /> {{ caption }}
  } @case (buttonIcon) {
  <img [src]="imgSrc" [alt]="alt" />
  } @default {
  {{ caption }}
  } }
</button>
}
