<div
  class="context-menu-wrapper"
  [ngClass]="{ show: contactDetailFormStatus, hide: !contactDetailFormStatus }"
>
  <join-button
    [buttonCaptionSecond]="true"
    [buttonIcon]="true"
    [imgSrc]="'assets/icons/edit_dark.svg'"
    [actionMessage]="{
      actionType: 'showAddOrEditContactForm',
      infoText: 'edit'
    }"
    [caption]="'Edit'"
    [buttonClass]="'context-button-light-top'"
    [width]="'100%'"
    [height]="'32px'"
    [padding]="'0'"
  />
  <join-button
    [buttonCaptionSecond]="true"
    [buttonIcon]="true"
    [actionMessage]="{
      securityQuestion: true,
      alertTitle: 'Alert',
      infoQuestion: 'Are you sure you want to delete this contact permanently?',
      infoText: 'This process is irreversible.',
      imageSrc: 'assets/icons/join_logo_white.svg',
      actionType: 'handleInfoAndSuccessMessages',
      nextActionType: 'deleteContact',
      caption1: 'Yes, proceed',
      caption2: 'No, preserve',
      id: currentContact?.id,
      isVisible: true,
      persistent: true
    }"
    [imgSrc]="'assets/icons/delete.svg'"
    [caption]="'Delete'"
    [buttonClass]="'context-button-light-bottom'"
    [width]="'100%'"
    [height]="'32px'"
    [padding]="'0'"
  />
</div>
