@if (task || isNewTask) {
<div class="add-subtask-wrapper">
  <input
    type="text"
    placeholder="Add subtask"
    [(ngModel)]="subtaskTitle"
    (focus)="onFocusSubtaskInput()"
    (blur)="onBlurSubtaskInput()"
  />
  @if (!isCancelAddSubtaskVisible) {
  <join-button
    [buttonIcon]="true"
    [buttonClass]="'white-button'"
    [imgSrc]="'assets/icons/plus.svg'"
    [actionType]="'openAddSubtaskBox'"
    [actionMessage]="{
      actionType: 'openAddSubtaskBox',
      infoText: 'open'
    }"
    [alt]="'Add subtask'"
    [padding]="'0'"
    [height]="'20px'"
    [width]="'20px'"
  />
  } @else {
  <div class="cancel-and-add-subtask-wrapper">
    <join-button
      [buttonIcon]="true"
      [buttonClass]="'white-button'"
      [imgSrc]="'assets/icons/close.svg'"
      [actionMessage]="{
        actionType: 'cancelAddSubtask',
        infoText: 'cancel'
      }"
      [alt]="'Cancel add subtask'"
      [padding]="'0'"
      [height]="'20px'"
      [width]="'20px'"
    />
    <div class="separator"></div>
    <join-button
      [buttonIcon]="true"
      [buttonClass]="'white-button'"
      [imgSrc]="'assets/icons/check.svg'"
      [actionMessage]="{
        actionType: 'saveAddedSubtask',
        infoText: 'save'
      }"
      [alt]="'Save subtask'"
      [padding]="'0'"
      [height]="'20px'"
      [width]="'20px'"
    />
  </div>
  }
</div>

<ul class="subtasks-list">
  @for (subtask of (isNewTask ? newSubtasks : subtasks); track subtask) {
  <li class="subtask-item">
    @if (!subtask.isEditing ) {
    <div class="subtask-checkbox-title-wrapper">
      <span>{{ subtask.title }}</span>
    </div>
    <div class="subtask-edit-delete-wrapper">
      <join-button
        [buttonIcon]="true"
        [buttonClass]="'white-button'"
        [imgSrc]="'assets/icons/edit_dark.svg'"
        [actionMessage]="{
          actionType: 'openEditSubtaskBox',
          id: subtask.id ? subtask.id : subtask.tempId
        }"
        [alt]="'Edit subtask'"
        [padding]="'0'"
        [height]="'20px'"
        [width]="'20px'"
      />
      <div class="separator"></div>
      <join-button
        [buttonIcon]="true"
        [buttonClass]="'white-button'"
        [imgSrc]="'assets/icons/delete.svg'"
        [actionMessage]="{
          actionType: 'deleteSubtask',
          id: subtask.id ? subtask.id : subtask.tempId
        }"
        [alt]="'Delete subtask'"
        [padding]="'0'"
        [height]="'24px'"
        [width]="'24px'"
      />
    </div>
    } @else {
    <div class="subtask-edit-wrapper">
      <input
        type="text"
        [(ngModel)]="editedSubtaskTitle"
        (blur)="cancelEditSubtask(subtask.id)"
      />
      <join-button
        [buttonIcon]="true"
        [buttonClass]="'white-button'"
        [imgSrc]="'assets/icons/check.svg'"
        [actionMessage]="{
          actionType: 'saveEditedSubtask',
          id: subtask.id ? subtask.id : subtask.tempId
        }"
        [actionType]="'saveEditedSubtask'"
        [alt]="'Save edited subtask'"
        [padding]="'0'"
        [height]="'24px'"
        [width]="'24px'"
      />
    </div>
    }
  </li>
  }
</ul>
}
