@import "../../../../scss_files/mixins.scss#";

.greetings-container {
  display: none;
}

/* ===================================================================
MEDIA QUERIES
======================================================================*/

@media (min-width: 64em) {
  .greetings-container {
    width: 100%;
    margin: 0 1em 0 0;
    @include flex-container($direction: column);
    border: orange 2px solid;
  }

  .greeting {
    font-size: 1.5rem;
  }

  .user-name {
    font-size: 1.8rem;
  }
}
