/* colors */
$white: #ffffff;
$lightblue: #29abe2;
$progressblue: #4589ff;
$darkblue: #2a3647;
$darkbluepale: #3b475a;
$verydarkblue: #091931;
$extremelightgray: #fafbfc;
$verylightgray: #f6f7f8; // for page backgrounds
$lightgray: #ececec;
$mediumgray: #0c2e621f; // for box shadow
$bordergray: #d1d1d1d1; // for borders
$hovergraylight: #f9f9f9;
$hovergraydark: #f0f0f0;
$progressgray: #F4F4F4;
$gray: #d6d6d6;
$fontcolorgray: #A8A8A8;
$darkgray: #b9b9b9;
$anthracite: #333333;
$black: #000000;
$red: #ff3d00;
$lightred: #ff8190;
$lightgreen: #7ae229;
$orange: #ffa35e;
$prioorange: #ffa800;
$darkorange: #ff7a00;
$royalblue: #007cee;
$blue: #0038ff;

/* heights */
$header-height: 80px;
$mobile-navbar-height: 80px;
