$white: #ffffff;
$lightblue: #29abe2;
$darkblue: #2a3647;
$verydarkblue: #091931;
$verylightgray: #f6f7f8; // for page backgrounds
$lightgray: #ececec;
$mediumgray: #0c2e621f; // for box shadow
$gray: #d6d6d6;
$darkgray: #b9b9b9;
$anthracite: #333333;
$black: #000000;
$red: #ff3d00;
$lightred: #ff8190;
$lightgreen: #7ae229;
$orange: #ffa35e;
$darkorange: #ff7a00;
$royalblue: #007cee;
$blue: #0038ff;
$header-height: 80px;
$mobile-navbar-height: 80px;
