<div class="outer-content-wrapper">
  <div class="inner-content-wrapper">
    <div class="list-wrapper">
      <join-button
        class="desktop-add-contact-button"
        [buttonCaptionFirst]="true"
        [buttonIcon]="true"
        [actionMessage]="{
          actionType: 'showAddOrEditContactForm',
          infoText: 'add'
        }"
        [caption]="'Add new contact'"
        [imgSrc]="'assets/icons/person_add.svg'"
        [buttonClass]="'dark-square-button'"
        [width]="'100%'"
        [height]="'48px'"
        [padding]="'0'"
      />
      <div class="inner-list-wrapper">
        @if (showDetails && isMobile && currentContact) {
        <join-contact-details />
        } @else {
        <ul class="contact-list">
          @for (group of groupedContacts; track group) {
          <li class="alphabet-header bold_600">
            {{ group.key }}
          </li>
          <div class="alphabet-separator"></div>
          @for (contact of group.value; track contact.id) {
          <li
            class="list-item"
            [class.current]="contact === currentContact"
            (click)="showContactDetails(contact)"
          >
            <div
              class="list-item-icon"
              [style.backgroundColor]="contact.color"
              [style.color]="contact.color_brightness ? '#000000' : '#ffffff'"
            >
              {{ contact.name ? contact.name.charAt(0) : ""
              }}{{ contact.name.split(" ").pop()?.charAt(0) }}
            </div>
            <div class="list-text-wrapper">
              <div class="list-item-name">{{ contact.name }}</div>
              <div class="list-item-email blue">{{ contact.email }}</div>
            </div>
          </li>
          } }
        </ul>
        }
      </div>
      @if (showDetails) {
      <join-button
        class="mobile-add-contact-button"
        [buttonIcon]="true"
        [actionMessage]="{
          actionType: 'showContactDetailOptions'
        }"
        [imgSrc]="'assets/icons/vertical_dots_white.svg'"
        [buttonClass]="'dark-round-button'"
        [width]="'48px'"
        [height]="'48px'"
        [padding]="'0'"
      />
      <div appOutsideClick (outsideClick)="hideContextMenu()">
        <join-context-menu />
      </div>
      } @else {
      <join-button
        class="mobile-add-contact-button"
        [buttonIcon]="true"
        [actionMessage]="{
          actionType: 'showAddOrEditContactForm',
          infoText: 'add'
        }"
        [imgSrc]="'assets/icons/person_add.svg'"
        [buttonClass]="'dark-round-button'"
        [width]="'48px'"
        [height]="'48px'"
        [padding]="'0'"
      />
      }
    </div>
    <div class="inner-details-wrapper">
      <div class="contacts-title-wrapper">
        <h1>Contacts</h1>
        <div class="title-separator"></div>
        <div class="title-slogan">Better with a team</div>
      </div>
      <join-contact-details />
    </div>
  </div>
</div>
@if (contactFormStatus) {
<join-contact-form [contacts]="contacts" [currentContact]="currentContact" />
}
