<section>
  <join-header-content></join-header-content>
  <div class="main">
    <div class="title-wrapper">
      <h1>Contacts</h1>
    </div>

    <div class="contact-list">
        <div class="list-item">
            <div class="list-item-icon">BB</div>
            <div class="list-item-name">Bilbo Beutlin</div>
            <div class="list-item-email">baggins&#64;shire.com</div>
        </div>
        <div class="list-item">
            <div class="list-item-icon">BS</div>
            <div class="list-item-name">Bart Simpson</div>
            <div class="list-item-email">barty&#64;gmail.com</div>
        </div>
        <div class="list-item">
            <div class="list-item-icon">DD</div>
            <div class="list-item-name">Donald Duck</div>
            <div class="list-item-email">duckduckduck&#64;gmail.com</div>
        </div>
        <div class="list-item">
            <div class="list-item-icon">DD</div>
            <div class="list-item-name">Dagobert Duck</div>
            <div class="list-item-email">quacktown&#64;yahoo.com</div>
        </div>
        <div class="list-item">
            <div class="list-item-icon">DD</div>
            <div class="list-item-name">Daisy Duck</div>
            <div class="list-item-email">daisymail&#64;hotmail.com</div>
        </div>
        <div class="list-item">
            <div class="list-item-icon">DV</div>
            <div class="list-item-name">Darth Vader</div>
            <div class="list-item-email">darkside&#64;vadermail.com</div>
        </div>
        <div class="list-item">
            <div class="list-item-icon">EB</div>
            <div class="list-item-name">Elizabeth Bennet</div>
            <div class="list-item-email">pride_and_prejudice&#64;web.com</div>
        </div>
        <div class="list-item">
            <div class="list-item-icon">ET</div>
            <div class="list-item-name">Emil Tischbein</div>
            <div class="list-item-email">parole_emil&#64;detektive.com</div>
        </div>
        <div class="list-item">
            <div class="list-item-icon">EF</div>
            <div class="list-item-name">Edward Ferrars</div>
            <div class="list-item-email">norland_park&#64;hotmail.com</div>
        </div>
        <div class="list-item">
            <div class="list-item-icon">FF</div>
            <div class="list-item-name">Fred Feuerstein</div>
            <div class="list-item-email">fredyf&#64;gmail.com</div>
        </div>
        <button class="add-contact-button">
            <img src="../../assets/icons/person_add.svg" alt="">
        </button>
    </div>
  </div>
  <join-navbar></join-navbar>
</section>
