@use "../../../../scss_files/index.scss" as *;

.outer-contact-form-wrapper {
  width: 80%;
  max-width: 300px;
  height: calc(100vh - $header-height - $mobile-navbar-height);
  max-height: 600px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 150%);
  background-color: $white;
  border: 0.5px solid $bordergray ;
  visibility: hidden;
  transition: transform 0.5s, visibility 0s 0.5s;
}

.outer-contact-form-wrapper.show {
  visibility: visible;
  transform: translate(-50%, -110%);
  transition: transform 0.5s;
}

.inner-contact-form-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 35% 55%;
  grid-template-areas:
    "close"
    "form-header"
    "form-body";
}

.close-wrapper {
  height: 101%;
  padding-inline: 1em;
  grid-area: close;
  @include flex-container($justify: flex-end);
  background-color: $darkblue;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom: $darkblue 1px solid;
}

.form-header {
  padding-inline: 1em;
  grid-area: form-header;
  background-color: $darkblue;
  @include flex-container($justify: flex-start);
  .headline-wrapper {
    @include flex-container(
      $direction: column,
      $align: flex-start,
      $justify: center,
      $gap: 8px
    );
    img {
      display: none;
    }
    .blue-separator-line {
      height: 2px;
      width: 25%;
      background-color: $lightblue;
    }
  }
}

.form-body {
  padding: 38px 1em 0.5em;
  grid-area: form-body;
  form {
    height: 95%;
    @include flex-container($direction: column, $align: flex-start);
  }
}

.input-wrapper {
  .name-wrapper,
  .mail-wrapper,
  .phone-wrapper {
    border: 1px solid $bordergray ;
    &:focus-within {
      border: 1px solid $lightblue ;
    }
  }
  .name {
    .name-wrapper {
      @include flex-container($gap: 8px);
    }
    img {
      height: 20px;
    }
  }

  .mail {
    .mail-wrapper {
      @include flex-container($gap: 8px);
    }
    img {
      height: 17px;
    }
  }

  .phone {
    .phone-wrapper {
      @include flex-container($gap: 8px);
    }
  }

  input {
    flex: 1 1 0;
    border: none;
    outline: none;
  }
  .warning-message {
    margin: 0.25em 0 0.5em;
  }
}

.button-wrapper {
  margin: 0 auto;
  @include flex-container($gap: 8px);
  .desktop-clear-contact-button {
    display: none;
  }
}

.icon-wrapper.mobile {
  width: 72px;
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  border: 2px solid $white ;
  border-radius: 50%;
  background-color: $white;
  @include flex-container($justify: center);
  .inner-icon-wrapper {
    @include flex-container($justify: center);
    background-color: $bordergray;
    border-radius: 50%;
    img {
      height: 40%;
      width: 40%;
      filter: invert(0);
    }
  }
}

.icon-wrapper.desktop {
  display: none;
}

.white {
  color: $white;
}

/* ===================================================================
MEDIA QUERIES
======================================================================*/

@media (min-width: 64em) {
  .outer-contact-form-wrapper {
    width: 90%;
    max-width: 700px;
    position: fixed;
    max-height: 400px;
    top: 50%;
    transform: translate(150%, -50%);
    border: 1px solid $bordergray ;
    visibility: hidden;
    transition: transform 0.5s, visibility 0s 0.5s;
  }

  .outer-contact-form-wrapper.show {
    visibility: visible;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
  }

  .inner-contact-form-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 10% 90%;
    grid-template-areas:
      "form-header close"
      "form-header form-body"
      "form-header form-body";
  }

  .close-wrapper {
    border-top-left-radius: unset;
    background-color: $white;
    border-bottom: $white 1px solid;
  }

  .form-header {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    .headline-wrapper {
      height: 120px;
      img {
        width: 36px;
        height: 36px;
        display: unset;
      }
    }
  }

  .form-body {
    padding: 0 1em 0 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "icon form"
      "icon form";
    border-bottom-right-radius: 16px;
    form {
      margin: 0;
      grid-area: form;
      @include flex-container($direction: column, $justify: center, $gap: 48px);
    }
  }

  .input-wrapper {
    height: 45%;
    @include flex-container($direction: column, $align: flex-start);
  }

  .icon-wrapper.mobile {
    display: none;
  }

  .icon-wrapper.desktop {
    width: 72px;
    margin: 0 0 24px;
    grid-area: icon;
    align-self: center;
    justify-self: center;
    border: 2px solid $white ;
    border-radius: 50%;
    background-color: $white;
    @include flex-container($justify: center);
    .inner-icon-wrapper {
      @include flex-container($justify: center);
      background-color: $bordergray;
      border-radius: 50%;
      img {
        height: 40%;
        width: 40%;
        filter: invert(0);
      }
    }
  }

  .button-wrapper {
    .mobile-clear-contact-button {
      display: none;
    }
    .desktop-clear-contact-button {
      display: block;
    }
  }
}
