<div
  class="outer-contact-form-wrapper"
  [ngClass]="{ show: contactFormStatus }"
>
  <div class="inner-contact-form-wrapper">
    <div class="close-wrapper">
      <img
        [src]="
          isMobile ? 'assets/icons/close_white.svg' : 'assets/icons/close.svg'
        "
        alt=""
        (click)="clearInputFields(contactForm); closeContactForm()"
      />
    </div>
    <div class="form-header">
      <div class="headline-wrapper">
        <img src="assets/icons/join_logo_white.svg" alt="" />
        <h1 class="white bold_700">
          {{ isAddContactMode ? "Add contact" : "Edit contact" }}
        </h1>
        <div class="slogan white">Tasks are better with a team</div>
        <div class="blue-separator-line"></div>
      </div>
    </div>
    <div class="form-body">
      <form (ngSubmit)="onSubmit()" #contactForm="ngForm" novalidate>
        <div class="input-wrapper">
          <div class="name">
            <input
              type="text"
              placeholder="Name*"
              [(ngModel)]="newContact.name"
              name="name"
              #name="ngModel"
            />
            <img src="assets/icons/person.svg" alt="" />
          </div>

          <div
            class="warning-message"
            [ngStyle]="{ opacity: name.invalid && name.touched ? 1 : 0 }"
          >
            Please enter one first and one last name.
          </div>

          <div class="mail">
            <input
              type="email"
              placeholder="Email"
              [(ngModel)]="newContact.email"
              name="email"
              #email="ngModel"
            />
            <img src="assets/icons/mail.svg" alt="" />
          </div>

          <div
            class="warning-message"
            [ngStyle]="{ opacity: email.invalid && email.touched ? 1 : 0 }"
          >
            Please enter a correct email address.
          </div>

          <div class="phone">
            <input
              type="tel"
              placeholder="Phone"
              [(ngModel)]="newContact.phone"
              name="phone"
              #phone="ngModel"
            />
            <img src="assets/icons/phone.svg" alt="" />
          </div>

          <div
            class="warning-message"
            [ngStyle]="{ opacity: phone.invalid && phone.touched ? 1 : 0 }"
          >
            Please enter a correct phone number.
          </div>
        </div>
        <div class="button-wrapper">
          @if (isAddContactMode) {
          <join-button
            class="mobile-clear-contact-button"
            [buttonIcon]="true"
            [actionType]="'clearInputFields'"
            [imgSrc]="'assets/icons/close.svg'"
            [buttonClass]="'light-square-button-blue-hover-completely '"
            [width]="'30px'"
            [height]="'30px'"
            [padding]="'0'"
            (clearInputButtonClicked)="clearInputFields(contactForm)"
          />
          <join-button
            class="desktop-clear-contact-button"
            [buttonCaptionFirst]="true"
            [buttonIcon]="true"
            [actionType]="'clearInputFields'"
            [imgSrc]="'assets/icons/close.svg'"
            [caption]="'Clear'"
            [buttonClass]="'light-square-button-blue-hover-completely '"
            [width]="'80px'"
            [height]="'32px'"
            [padding]="'0'"
            (clearInputButtonClicked)="clearInputFields(contactForm)"
          />
          <join-button
            class="create-contact-button"
            [buttonIcon]="true"
            [buttonCaptionFirst]="true"
            [actionType]="'createNewContact'"
            [caption]="'Create contact'"
            [imgSrc]="'assets/icons/check_white.svg'"
            [imgClass]="'check-icon'"
            [buttonClass]="'dark-square-button'"
            [width]="'150px'"
            [height]="'32px'"
            [padding]="'0'"
            (createNewContactClicked)="onSubmit()"
            (successMessage)="isContactSuccessfullyAdded()"
          />
          } @else {
          <join-button
            [caption]="'Delete'"
            [buttonClass]="'light-square-button-blue-hover-completely '"
            [actionType]="'deleteContact'"
            [width]="'80px'"
            [height]="'32px'"
            [padding]="'0'"
          />
          <join-button
            class="create-contact-button"
            [buttonIcon]="true"
            [buttonCaptionFirst]="true"
            [caption]="'Save'"
            [imgSrc]="'assets/icons/check_white.svg'"
            [imgClass]="'check-icon'"
            [buttonClass]="'dark-square-button'"
            [width]="'100px'"
            [height]="'32px'"
            [padding]="'0'"
          />

          }
        </div>
      </form>
      <div class="icon-wrapper desktop">
        <div class="inner-icon-wrapper">
          <img src="assets/icons/person_white.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="icon-wrapper mobile">
      @if (isAddContactMode) {
      <div class="inner-icon-wrapper">
        <img src="assets/icons/person_white.svg" alt="" />
      </div>
      } @else {
      <div
        class="inner-icon-wrapper"
        [style.backgroundColor]="newContact.contact_color"
        [style.color]="newContact.color_brightness ? '#000000' : '#ffffff'"
      >
        {{ newContact.name ? newContact.name.charAt(0) : ""
        }}{{ newContact.name.split(" ").pop()?.charAt(0) }}
      </div>
      }
    </div>
  </div>
</div>
