@import "../../../scss_files/variables.scss";
@import "../../../scss_files/mixins.scss";

.board-wrapper {
  position: relative;
}

.content {
  min-height: calc(
    100vh - $header-height - $mobile-navbar-height - 52px - 16px - 100px
  );
  min-height: calc(
    100dvh - $header-height - $mobile-navbar-height - 52px - 16px - 100px
  );
  position: relative;
  background-color: $verylightgray;
}

.inner-content-header {
  margin-block: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px 32px 20px;
  grid-template-areas:
    "title add-task"
    "search search"
    "match match";
  align-items: center;
}

h1 {
  grid-area: title;
}

.board-task-button-wrapper {
  width: fit-content;
  grid-area: add-task;
  @include flex-container($justify: flex-start, $gap: 4px);
  justify-self: flex-end;
}

.search-wrapper {
  width: 100%;
  height: 28px;
  padding: 4px 8px;
  grid-area: search;
  @include flex-container($align: center, $justify: space-between);
  background-color: $white;
  border: $bordergray 1.5px solid;
  border-radius: 8px;
  &:focus-within {
    border: $lightblue 1.5px solid;
  }
  input {
    width: 95%;
    border: none;
    outline: none;
  }
  .separator {
    height: 95%;
    width: 2px;
    background-color: $gray;
  }
  img {
    margin: 0 8px 0 12px;
  }
  .clear-icon {
    cursor: pointer;
  }
}

.match-box {
  grid-area: match;
  font-size: 0.6rem;
  color: $red;
}

.desktop-add-task {
  display: none;
}

join-info {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.info-button {
  @include flex-container($justify: center);
}

.plus-button-dark {
  background-color: $darkblue;
  border: $darkblue 2px solid;
  border-radius: 8px;
  &:hover {
    border: $lightblue 2px solid;
    background-color: $lightblue;
  }
}

.outer-board-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 280px;
  grid-template-areas:
    "toDo"
    "inProgress"
    "awaitFeedback"
    "done";
  gap: 1em;
  .list {
    width: 100%;
    overflow-y: auto;
  }
  .board-list-headline-wrapper {
    height: 26px;
    .inner-task-button-wrapper {
      @include flex-container($gap: 4px);
    }
  }
  .list-content {
    min-height: 40px;
    margin: 12px 0 0;
    @include flex-container($align: center, $justify: center);
    color: $darkgray;
    font-size: 0.75rem;
    background-color: $lightgray;
    border: $gray 2px dashed;
    border-radius: 8px;
  }
}

.toDo {
  grid-area: toDo;
}

.inProgress {
  grid-area: inProgress;
}

.awaitFeedback {
  grid-area: awaitFeedback;
}

.done {
  grid-area: done;
}

.board-list-headline-wrapper {
  @include flex-container();
}

.add-task-overlay {
  position: fixed;
  inset: 0;
  background-color: white;
}

.task-card-wrapper {
  height: calc(100% - 26px);
  width: 100%;
  padding-inline: 0.5em;
  overflow-x: auto;
  @include flex-container($justify: flex-start, $gap: 1em);
}

.task-card-wrapper {
  min-height: 100px; 
  padding: 10px;
  border: 2px solid transparent;
  transition: border 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  overflow-y: auto;
}

.task-card-wrapper.highlight {
  border: $progressblue 2px dashed;
  background-color: #f0f8ff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.add-task-content-wrapper {
  height: 90%;
  max-height: 520px;
  width: 95%;
  max-width: 700px;
  padding: 1.5em 0.5em;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-color: $white;
  border: $darkblue 1px solid;
  border-radius: 20px;
  overflow-y: auto;
  .add-task-title-wrapper {
    margin: 0 0 12px;
    @include flex-container();
  }
  form {
    height: calc(100% - 50px);
  }
  .add-task-content {
    height: calc(100% - 48px);
    overflow-y: auto;
  }
  .info-and-add-task-button-wrapper {
    margin: 12px 0 0;
    @include flex-container();
    .required-info {
      font-size: 0.6rem;
    }
    .add-task-button-wrapper {
      @include flex-container($gap: 12px);
    }
  }
}

/* ===============================================================================
MEDIA QUERIES
=================================================================================*/

@media (min-width: 64em) {
  .inner-content-header {
    grid-template-columns: repeat(4, 1fr) 110px;
    grid-template-rows: 40px 20px;
    grid-template-areas:
      "title title search search add-task"
      ". . match . .";
    column-gap: 12px;
  }

  .board-task-button-wrapper {
    width: 100px;
    height: 32px;
  }

  .outer-board-wrapper {
    height: calc(100vh - $header-height - 60px - 24px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "toDo inProgress awaitFeedback done";
    overflow-y: auto;
  }

  .desktop-add-task {
    min-width: 100px;
    min-height: 32px;
    @include flex-container($justify: center);
    color: white;
    font-weight: 600;
  }

  .info-button.global-info {
    display: none;
  }

  .button-content-wrapper {
    width: 100%;
    @include flex-container($justify: space-around);
  }

  h2 {
    font-size: clamp(0.9rem, 1vw, 1.2rem);
  }

  .task-card-wrapper {
    display: block;
    overflow-x: visible;
  }
}
