<div class="board-wrapper">
  @if(boards.length > 0) {
  <div class="content">
    <div class="inner-content-header">
      <h1>Board</h1>
      <div class="board-task-button-wrapper">
        <div class="inner-task-button-wrapper">
          <join-button
            (toggleContainer)="toggleContainerVisibility($event)"
            class="mobile-link-add-task info-button"
            [infoMessage]="'Add a task to \'to do\'.'"
            [actionType]="'toggle'"
            [buttonIcon]="true"
            [imgSrc]="'assets/icons/info.svg'"
            [buttonClass]="'light-square-button'"
            [width]="'16px'"
            [height]="'16px'"
            [padding]="'0'"
          />
          <join-button
            class="mobile-link-add-task"
            [routerLink]="'#'"
            [buttonIcon]="true"
            [imgSrc]="'assets/icons/plus_white.svg'"
            [buttonClass]="'dark-square-button'"
            [width]="'24px'"
            [height]="'24px'"
            [padding]="'0'"
          />
        </div>
        <join-button
          class="desktop-add-task"
          [buttonCaptionFirst]="true"
          [buttonIcon]="true"
          [imgSrc]="'assets/icons/plus_white.svg'"
          [caption]="'Add task'"
          [buttonClass]="'dark-square-button'"
          [width]="'100px'"
          [height]="'32px'"
          [padding]="'0'"
        />
      </div>
      <div class="search-wrapper">
        <input
          type="text"
          placeholder="Find task"
          [(ngModel)]="searchTerm"
          (input)="filterTasks()"
          (focus)="toggleSearchIcon(true)"
          (blur)="leaveSearchInputFocus()"
          #searchInput
        />
        <div class="separator"></div>
        @if (!isFocused) {

        <img src="assets/icons/search_gray.svg" alt="Search" />
        } @else {
        <img
          class="clear-icon"
          src="assets/icons/close_gray.svg"
          alt="Clear search"
          width="18"
          (mousedown)="clearSearch()"
        />
        }
      </div>
      <div class="match-box" [ngClass]="{ 'd-none': !isSearchActive()}">
        <span>{{ getMatchText() }} </span>found
      </div>
    </div>
    @if(isContainerVisible) {
    <div appOutsideClick (outsideClick)="hideContainer()">
      <join-info [infoText]="message" />
    </div>

    }
    <div class="outer-board-wrapper">
      @for(board_list of boards[0].board_lists; track board_list; let i =
      $index) {
      <div class="list" [ngClass]="board_list">
        <div class="board-list-headline-wrapper">
          <h2 class="bold_700">
            {{ getFormattedBoardListName(board_list, "capitalized") }}
          </h2>
          <div class="inner-task-button-wrapper">
            <join-button
              (toggleContainer)="toggleContainerVisibility($event)"
              class="mobile-link-add-task info-button"
              [infoMessage]="'Add a task to \'to do\'.'"
              [actionType]="'toggle'"
              [buttonIcon]="true"
              [imgSrc]="'assets/icons/info.svg'"
              [buttonClass]="'light-square-button'"
              [width]="'16px'"
              [height]="'16px'"
              [padding]="'0'"
            />
            <join-button
              [routerLink]="'#'"
              [buttonIcon]="true"
              [imgSrc]="'assets/icons/plus.svg'"
              [buttonClass]="'light-square-button-blue-hover-completely'"
              [width]="'24px'"
              [height]="'24px'"
              [padding]="'0'"
              [tooltip]="'Add a new task in todo list'"
            />
          </div>
        </div>
        @if(tasks) {
        <div class="task-card-wrapper">
          @for(task of filteredTasks; track task) { @if(board_list ===
          task.board_list?.name) {
          <join-task-card [task]="task" />
          } } @empty {

          <div class="list-content">
            No tasks found
            {{ getFormattedBoardListName(board_list, "lowercased") }}
          </div>
          }
        </div>
        }
      </div>
      }
    </div>
  </div>
  }
  <join-card-detail
  [task]="selectedTask"
  [contacts]="contacts"
  [categories]="categories"
  />
</div>
