@import "../../../scss_files/variables.scss";
@import "../../../scss_files/mixins.scss";

.content {
  min-height: calc(
    100vh - $header-height - $mobile-navbar-height - 52px - 16px - 100px
  );
  min-height: calc(
    100dvh - $header-height - $mobile-navbar-height - 52px - 16px - 100px
  );
  position: relative;
  background-color: $verylightgray;
}

.inner-content-header {
  margin-block: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px 32px 20px;
  grid-template-areas:
    "title add-task"
    "search search"
    "match match";
  align-items: center;
}

h1 {
  grid-area: title;
}

.board-task-button-wrapper {
  justify-self: flex-end;
}

.inner-task-button-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.search-wrapper {
  width: 100%;
  height: 28px;
  padding: 4px 8px;
  grid-area: search;
  @include flex-container($align: center, $justify: space-between);
  background-color: $white;
  border: $bordergray 1.5px solid;
  border-radius: 8px;
  &:focus-within {
    border: $lightblue 1.5px solid;
  }
  input {
    width: 95%;
    border: none;
    outline: none;
  }
  .separator {
    height: 95%;
    width: 2px;
    background-color: $gray;
  }
  img {
    margin: 0 8px 0 12px;
  }
  .clear-icon {
    cursor: pointer;
  }
}



.match-box {
  grid-area: match;
  font-size: 0.6rem;
  color: $red;
}

.desktop-add-task {
  display: none;
}

.mobile-link-add-task {
  grid-area: add-task;
  justify-self: flex-end;
}

.mobile-link-add-task,
.desktop-add-task {
  height: 24px;
  width: 24px;
  position: relative;
}

join-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-button-dark {
  background-color: $darkblue;
  border: $darkblue 2px solid;
  border-radius: 8px;
  &:hover {
    border: $lightblue 2px solid;
    background-color: $lightblue;
  }
}

.outer-board-wrapper {
  height: calc(100vh - $header-height - $mobile-navbar-height - 92px - 16px);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 200px;
  grid-template-areas:
    "todo"
    "inProgress"
    "awaitFeedback"
    "done";
  gap: 1em;
  overflow-y: auto;
  border: green 1px solid;
  .list {
    border: orange 1px solid;
  }
  .board-list-headline-wrapper {
    height: 26px;
  }
  .list-content {
    min-height: 40px;
    margin: 12px 0 0;
    @include flex-container($align: center, $justify: center);
    color: $darkgray;
    font-size: 0.75rem;
    background-color: $lightgray;
    border: $gray 2px dashed;
    border-radius: 8px;
  }
}

.todo {
  grid-area: todo;
}

.in-progress {
  grid-area: inProgress;
}

.await-feedback {
  grid-area: awaitFeedback;
}

.done {
  grid-area: done;
}

.board-list-headline-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-task-overlay {
  position: fixed;
  inset: 0;
  background-color: white;
}

@media (min-width: 50em) {
  .inner-content-header {
    grid-template-rows: 40px 20px;
    grid-template-areas:
      "title title search add-task"
      ". . match .";
    column-gap: 12px;
  }

  .outer-board-wrapper {
    height: calc(100vh - $header-height - 60px - 24px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "todo inProgress awaitFeedback done";
    overflow-y: auto;
  }

  .desktop-add-task {
    min-width: 100px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
  }

  .mobile-link-add-task {
    display: none;
  }

  .button-content-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  h2 {
    font-size: clamp(0.9rem, 1vw, 1.2rem);
  }
}
