@use "../../../../scss_files/index.scss" as *;

.menu-wrapper {
  width: 120px;
  @include flex-container(
    $direction: column,
    $justify: space-between,
    $gap: 4px
  );
  border: none;
  background-color: $darkblue;
  button {
    width: 100%;
    height: 40px;
    padding: 0 0 0 20px;
    @include flex-container($justify: flex-start);
    background-color: transparent;
    border: none;
    color: $bordergray;
    cursor: pointer;
    &:first-of-type {
      border-radius: 20px 0 0 0;
      &:hover {
        border-top-left-radius: 20px;
      }
    }
    &:last-of-type {
      border: none;
      border-radius: 0 0 20px 20px;
    }
    &:hover {
      color: $white;
      border: none;
      background-color: $verydarkblue;
    }
  }
}

.menu-wrapper.logoutContextMenu {
  border-radius: 20px 0 20px 20px;
}

.menu-wrapper.moveTaskContextMenu {
  min-width: 150px;
  max-width: 160px;
  border-radius: 0 20px 20px 20px;
  position: absolute;
  top: 0;
  right: 0;
  & > button.first-visible:hover {
    border-radius: 0 20px 20px 20px;
  }
  button.d-none {
    display: none;
  }
}

/* ===================================================================
MEDIA QUERIES
======================================================================*/

@media (min-width: 64em) {
  .menu-wrapper {
    button {
      &:first-of-type {
        display: none;
      }
      &:nth-of-type(2):hover {
        border-top-left-radius: 20px;
      }
    }
  }
}
