@use "../../../../scss_files/index.scss" as *;

nav {
  width: 100%;
  height: 80px;
  @include flex-container($justify: flex-start);
  background-color: $darkblue;
}

.join-logo {
  display: none;
}

.menu-items-wrapper {
  width: 100%;
  max-width: 580px;
  height: 100%;
  margin-inline: auto;
  padding-inline: 0.3em;
  @include flex-container($gap: 2px);
}

.menu-items {
  height: 100%;
  @include flex-container($justify: flex-start);
}

.menu-items a {
  width: 64px;
  height: 64px;
  @include flex-container($direction: column, $justify: center, $gap: 8px);
  font-size: 0.75rem;
  text-decoration: none;
  color: $white;
  border-radius: 16px;
  background-color: $darkblue;
  &:hover {
    scale: 1.05;
  }
}

.menu-items a.inactive {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.current-page {
  background-color: $verydarkblue;
}

.menu-items a img {
  height: 24px;
}

join-legal-links {
  display: none;
}

.separator-line {
  width: 1px;
  align-self: center;
  height: 80%;
  grid-area: separator;
  display: block;
  background-color: $gray;
}

@media (min-width: 64em) {
  nav {
    padding: 1em;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
    .join-logo {
      display: unset;
      img {
        height: 44px;
      }
    }
    .join-logo.inactive {
      pointer-events: none;
      opacity: 0.5;
      cursor: not-allowed;
    }
    .menu-items-wrapper {
      max-height: 500px;
      flex-direction: column;
    }

    join-legal-links {
      width: 100%;
      display: block;
    }
  }
}
