<!-- <div class="content">
  <div class="inner-content-wrapper" *ngIf="!showGreeting || isDesktop">
    <div class="inner-headline-box grid">
      <h1 class="summary-headline">Join 821</h1>
      <div class="summary-subheadline">Key Metrics at a Glance</div>
      <div class="blue-separator"></div>
    </div>
    <div class="outer-summary-wrapper">
      @if(summaries.length > 0) {
      <div class="inner-summary-wrapper">
        <div class="info-item todo">
          <div class="info-icon">
            <img src="assets/icons/edit_white.svg" alt="edit icon" />
          </div>
          <div class="number info-number">{{ summaries[0].todo_count }}</div>
          <div class="task-caption info-caption">To-do</div>
        </div>
        <div class="info-item done">
          <div class="info-icon edit">
            <img src="assets/icons/check_white.svg" alt="edit icon" />
          </div>
          <div class="number info-number">{{ summaries[0].done_count }}</div>
          <div class="task-caption info-caption">Done</div>
        </div>
        <div class="info-item urgent-overview">
          <div class="urgent">
            <div class="info-icon red">
              <img
                src="assets/icons/prio_urgent_white.svg"
                alt="priority icon"
              />
            </div>
            <div class="number info-number">
              {{ summaries[0].urgent_count }}
            </div>
            <div class="task-caption info-caption">Urgent</div>
          </div>
          <div class="separator-line"></div>
          <div class="date-box">
            <div class="date">{{ summaries[0].next_due_date }}</div>
            <div class="task-caption">Upcoming Deadline</div>
          </div>
        </div>
        <div class="info-item tasks-in-board">
          <div class="number">{{ summaries[0].total_tasks }}</div>
          <div class="task-caption flex-box">
            Tasks in <br />
            Board
          </div>
        </div>
        <div class="info-item tasks-in-progress">
          <div class="number">{{ summaries[0].in_progress_count }}</div>
          <div class="task-caption flex-box">
            Tasks In <br />
            Progress
          </div>
        </div>
        <div class="info-item tasks-awaiting-feedback">
          <div class="number">{{ summaries[0].await_feedback_count }}</div>
          <div class="task-caption flex-box">
            Awaiting <br />
            feedback
          </div>
        </div>
      </div>
      }
      <join-user-greeting
        *ngIf="isDesktop || showGreeting"
      />
    </div>
  </div>
</div> -->

<div class="content">
  <div class="inner-content-wrapper">
    <div class="inner-headline-box grid">
      <h1 class="summary-headline">Join 821</h1>
      <div class="summary-subheadline">Key Metrics at a Glance</div>
      <div class="blue-separator"></div>
    </div>
    <div class="outer-summary-wrapper">
      <join-user-greeting
        *ngIf="isDesktop || showGreeting"
        [class.greeting-overlay]="!isDesktop"
      />
      @if(summaries.length > 0) {
      <div class="inner-summary-wrapper" *ngIf="isDesktop || !showGreeting">
        <div class="info-item todo">
          <div class="info-icon">
            <img src="assets/icons/edit_white.svg" alt="edit icon" />
          </div>
          <div class="number info-number">{{ summaries[0].todo_count }}</div>
          <div class="task-caption info-caption">To-do</div>
        </div>
        <div class="info-item done">
          <div class="info-icon edit">
            <img src="assets/icons/check_white.svg" alt="edit icon" />
          </div>
          <div class="number info-number">{{ summaries[0].done_count }}</div>
          <div class="task-caption info-caption">Done</div>
        </div>
        <div class="info-item urgent-overview">
          <div class="urgent">
            <div class="info-icon red">
              <img
                src="assets/icons/prio_urgent_white.svg"
                alt="priority icon"
              />
            </div>
            <div class="number info-number">
              {{ summaries[0].urgent_count }}
            </div>
            <div class="task-caption info-caption">Urgent</div>
          </div>
          <div class="separator-line"></div>
          <div class="date-box">
            <div class="date">{{ summaries[0].next_due_date }}</div>
            <div class="task-caption">Upcoming Deadline</div>
          </div>
        </div>
        <div class="info-item tasks-in-board">
          <div class="number">{{ summaries[0].total_tasks }}</div>
          <div class="task-caption flex-box">
            Tasks in <br />
            Board
          </div>
        </div>
        <div class="info-item tasks-in-progress">
          <div class="number">{{ summaries[0].in_progress_count }}</div>
          <div class="task-caption flex-box">
            Tasks In <br />
            Progress
          </div>
        </div>
        <div class="info-item tasks-awaiting-feedback">
          <div class="number">{{ summaries[0].await_feedback_count }}</div>
          <div class="task-caption flex-box">
            Awaiting <br />
            feedback
          </div>
        </div>
      </div>
      }
      
    </div>
  </div>
</div>

