@import "../../../scss_files/variables.scss";
@import "../../../scss_files/mixins.scss";

.content {
  position: relative;
}

/* .greeting-animation {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: 5;
  @include flex-container($justify: center);
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
  background-color: $verylightgray;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

.inner-headline-box {
  height: 87px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "headline"
    "subheadline"
    "separator";
}

.summary-headline {
  margin-block: 0.5em 0.3em;
  grid-area: headline;
  font-size: 2rem;
}

.summary-subheadline {
  margin: 0 0 1em;
  grid-area: subheadline;
  font-size: 0.8rem;
}

.blue-separator {
  grid-area: separator;
  width: 25%;
  height: 3px;
  background-color: $lightblue;
}

.inner-content-wrapper {
  height: 100%;
}

.content {
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  min-height: calc(100vh - $header-height - $mobile-navbar-height - 24px);
  min-height: calc(100dvh - $header-height - $mobile-navbar-height - 24px);
  background-color: $verylightgray;
}

h1 {
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  font-weight: 700;
}

.outer-summary-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.inner-summary-wrapper {
  min-width: 300px;
  max-width: 600px;
  margin: 24px auto 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 36px;
  grid-template-areas:
    "todo todo todo done done done"
    "todo todo todo done done done"
    "overview overview overview overview overview overview"
    "overview overview overview overview overview overview"
    "board board progress progress feedback feedback"
    "board board progress progress feedback feedback";
  gap: 8px;
}

.info-item {
  height: 90%;
  width: 100%;
  align-self: center;
  background-color: $white;
  border-radius: 20px;
  border: $lightgray 1px solid;
  box-shadow: 0.25px 0.25px 0.25px 0.25px $mediumgray;
}

.todo,
.done,
.urgent {
  grid-area: todo;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "todo-icon todo-number"
    "todo-icon todo-caption";
  align-items: center;
  gap: 8px;
}

.todo .info-icon {
  @include flex-container($justify: center);
  border: $white 1px solid;
}

.todo .info-icon img {
  height: 80%;
  width: 80%;
}

.done {
  grid-area: done;
}

.urgent-overview {
  grid-area: overview;
  @include flex-container();
}

.urgent,
.date-box {
  width: 47%;
}

.separator-line {
  width: 1.5px;
  align-self: center;
  height: 70%;
  grid-area: separator;
  display: block;
  background-color: $gray;
}

.date-box {
  @include flex-container($justify: center, $gap: 8px);
}

.tasks-in-board {
  grid-area: board;
}

.tasks-in-progress {
  grid-area: progress;
}

.tasks-awaiting-feedback {
  grid-area: feedback;
}

.tasks-in-board,
.tasks-in-progress,
.tasks-awaiting-feedback {
  @include flex-container($direction: column, $justify: center);
}

.number {
  font-size: 2rem;
  font-weight: 600;
}

.task-caption {
  font-size: 0.7rem;
}

.task-caption.flex-box {
  text-align: center;
}

.info-icon {
  width: 32px;
  height: 32px;
  padding: 0.5em;
  justify-self: flex-end;
  grid-area: todo-icon;
  border-radius: 50%;
  background-color: $darkblue;
}

.info-icon.red {
  background-color: $red;
}

.info-number {
  margin: 0 0 0 0.2em;
  grid-area: todo-number;
  align-self: flex-end;
}

.info-caption {
  grid-area: todo-caption;
  align-self: flex-start;
}

.date {
  font-size: 0.9rem;
  font-weight: 600;
}


join-navbar {
  grid-area: aside;
}

/* ===================================================================
MEDIA QUERIES
======================================================================*/

@media (min-width: 64em) {
  .content {
    max-width: unset;
    min-height: unset;
    height: 100%;
    margin: 0;
    overflow-y: auto;
  }

  .outer-summary-wrapper {
    width: 100%;
    height: calc(100% - $header-height);
    max-width: unset;
    @include flex-container($direction: row-reverse, $align: center, $justify: space-between);
    .inner-summary-wrapper {
      width: 60%;
      height: 80%;
      margin: 0;
      grid-auto-rows: 44px;
      align-content: center;
    }
  }

  .inner-headline-box {
    height: 60px;
    display: grid;
    grid-template-columns: 150px 3px 1fr;
    grid-template-areas: "headline separator subheadline";
  }

  .blue-separator {
    height: 60%;
    width: 4px;
    align-self: center;
  }

  .summary-subheadline {
    margin: 0 0 0 16px;
    align-self: center;
    font-size: 1rem;
  }

  .inner-content-wrapper {
    height: 100%;
  }

  .greeting-animation {
    position: static;
    width: 35%;
    margin: 0;
  }
}
