@use "../scss_files/index.scss" as *;

#page {
  height: 100vh;
  // @include flex-container($justify: center);
}

.outer-login-wrapper {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  position: relative;
  // @include flex-container($justify: center);
  border: blue 3px solid;
}

join-info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
