@use "../scss_files/index.scss" as *;

#page {
  height: 100vh;
}

.outer-login-wrapper {
  width: 100%;
  max-width: $max-content-width;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

join-info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
