@if (tasks) {
<div class="content">
  <div class="inner-content-wrapper inner_add_task_content_wrapper">
    <div class="inner-content-header">
      <h1>Add Task</h1>
    </div>
    <form (ngSubmit)="onSubmit()">
      <join-add-task-content
        [categories]="categories"
        [contacts]="contacts"
      />
      <div class="add-task-button-wrapper">
        <div class="info-required">
          <span class="red">*</span>This field is required.
        </div>
        <div class="button-wrapper">
          <join-button
            class="clear-task-button"
            [buttonCaptionFirst]="isDesktop"
            [buttonIcon]="true"
            [imgSrc]="'assets/icons/close.svg'"
            [caption]="'Clear'"
            [actionType]="'resetNewTask'"
            [buttonClass]="'light-square-button-blue-hover-completely '"
            [width]="isDesktop ? '80px' : '32px'"
            [height]="'32px'"
            [padding]="'0'"
          />
          <join-button
            class="desktop-add-task"
            [buttonCaptionFirst]="true"
            [buttonIcon]="true"
            [type]="'submit'"
            [actionType]="'createNewTask'"
            [infoMessage]="'toDo'"
            [imgSrc]="'assets/icons/check_white.svg'"
            [imgClass]="'check-icon'"
            [caption]="'Create task'"
            [buttonClass]="'dark-square-button'"
            [width]="'110px'"
            [height]="'32px'"
            [padding]="'0'"
          />
        </div>
      </div>
    </form>
  </div>
</div>
}
