@use "../../../scss_files/index.scss" as *;

.content {
  height: 100%;
  padding: 0 0.5em;
  @include flex-container($direction: column, $align: center, $justify: flex-start);
  min-height: 0;
  background-color: $verylightgray;
}

.inner-content-header {
  width: 100%;
  height: 72px;
  padding: 0 0.5em;
  @include flex-container($justify: flex-start);
}

form {
  width: 100%;
  flex: 1;
  @include flex-container($direction: column, $align: center, $justify: flex-start);
  min-height: 0;
}

join-add-task-content {
  width: 100%;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.add-task-button-wrapper {
  width: 100%;
  height: 50px;
  @include flex-container();
  .button-wrapper {
    margin: 0 auto; 
    width: 100%;
    max-width: 300px;
    @include flex-container($gap: 8px);
  }
}

.info-required {
  display: none;
  font-size: clamp(0.75rem, 1vw, 1.1rem);
}

@media (min-width: $breakpoint1) {
  .add-task-button-wrapper {
    margin: 0 0 4em;
    padding: 0 2em; 
    .button-wrapper {
      margin: unset;
      max-width: unset;
      width: fit-content;
      @include flex-container($justify: center, $gap: 24px); 
      
    }
  }
  .info-required {
    display: block;
  }
}
