@import "../../../scss_files/variables.scss";
@import "../../../scss_files/mixins.scss";

.inner-content-header {
  height: 72px;
  padding: 0 0.5em;
  @include flex-container($justify: flex-start);
}

.content {
  min-height: calc(
    100vh - $header-height - $mobile-navbar-height - 80px - 48px
  );
  padding-inline: 0.5em;
  background-color: verylightgray;
}

.add-task-button-wrapper {
  height: 40px;
  @include flex-container();
  border: orchid 1px solid;
  .button-wrapper {
    @include flex-container($justify: flex-start);
    gap: 8px;
  }
}

.info-required {
  font-size: clamp(0.75rem, 1vw, 1.1rem);
}
