@use "../../../../../scss_files/index.scss" as *;

.categories-dropdown-wrapper {
  width: 100%;
  position: relative;
}

.category-text-wrapper {
  width: 100%;
  height: 20px;
  padding-inline: 0.25em;
  @include flex-container();
  background-color: $white;
  .category-text {
    @include flex-container($justify: flex-start, $gap: 8px);
    flex: 1 1 0;
  }
}

.search-category-input {
  width: 100%;
  height: 20px;
  padding-inline: 0.25em;
  border: none;
  outline: none;
  &::placeholder {
    font-size: 0.75rem;
  }
}

.categories-list {
  width: 100%;
  height: 300px;
  overflow-y: auto;
  padding: 0 0.5em;
  background-color: $white;
  position: absolute;
  top: 8px;
  left: 0;
  z-index: 20;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  .category-list-item {
    height: 40px;
    margin: 0 0 0.5em;
    padding-inline: 0.5em;
    @include flex-container();
    list-style-type: none;
    background-color: $extremelightgray;
    &:hover {
      background-color: $verylightgray;
    }
    .categories-content-wrapper {
      height: 100%;
      @include flex-container($justify: flex-start, $gap: 8px);
    }
    .category-edit-wrapper {
      width: 52px;
      @include flex-container($gap: 4px);
      .edit-icon {
        height: 20px;
      }
      .separator {
        width: 1px;
        height: 16px;
        background-color: $bordergray;
      }
    }

    .color-picker {
      inline-size: 15px;
      block-size: 15px;
      margin: 0;
      padding: 0;
      border: none;
      border-radius: 50%;
      outline: none;
      box-shadow: none;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      &::-webkit-color-swatch {
        border: none;
        border-radius: 50%;
      }
      &::-moz-color-swatch {
        border: none;
        border-radius: 50%;
      }
    }
    .change-category-name {
      width: 60%;
      border: $bordergray 1px solid;
      outline: none;
      &:focus {
        border: $lightblue 1px solid;
      }
    }
  }
  .category-list-item:last-of-type {
    margin: 0 0 1em;
  }
  .create-new-category-wrapper {
    @include flex-container();
    .new-category-input-wrapper {
      width: 75%;
      @include flex-container($justify: flex-start, $gap: 8px);
      .new-category-input {
        width: 80%;
        height: 24px;
        font-size: 0.6rem;
        border: $bordergray 1px solid;
        outline: none;
        &:focus {
          border: $lightblue 1px solid;
        }
        &::placeholder {
          font-size: 0.6rem;
        }
      }
    }

    .new-category-button-wrapper {
      @include flex-container($gap: 4px);
      .abort-new-category {
        height: 16px;
      }
      .separator {
        width: 1px;
        height: 16px;
        background-color: $bordergray;
      }
      .save-new-category {
        height: 18px;
      }
    }
  }
}

.category-edit-buttons {
  @include flex-container($justify: center, $gap: 4px);
  img {
    height: 20px;
  }

  .separator {
    width: 1px;
    height: 20px;
    background-color: $bordergray;
  }
}

.category-warning {
  margin: 2px 0 0;
  font-size: 0.6rem;
}

join-info {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
}
