@use "../../scss_files/index.scss" as *;

.wrapper {
  width: 100%;
  max-width: $max-content-width;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $header-height auto $mobile-navbar-height;
  grid-template-areas:
    "header"
    "main"
    "aside";
}

join-header {
  grid-area: header;
}

main {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow-y: auto;
  padding: 0 0.5em;
  grid-area: main;
}

join-navbar {
  grid-area: aside;
}

/* ===================================================================
MEDIA QUERIES
======================================================================*/

@media (min-width: 64em) {
  .wrapper {
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: $header-height auto;
    grid-template-areas:
      "aside header header header header"
      "aside main main main main";
  }

  main {
    max-width: unset;
  }
}

