@use "../../scss_files/index.scss" as *;

h2,
.enjoy {
  padding: 1.5em 0 1em;
  font-size: 1.2rem;
  font-weight: 700;
}

.enjoy {
  text-align: center;
}

.back-to-summary.inactive {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.content {
  background-color: $verylightgray;
  min-height: calc(100vh - $header-height - $mobile-navbar-height - 24px);
}

.title-wrapper {
  height: 80px;
  padding-inline: 0.5em;
  @include flex-container();
  a {
    cursor: pointer;
  }
}

.content-wrapper {
  height: calc(100vh - $header-height - $mobile-navbar-height - 80px);
  padding: 0.5em;
  overflow-y: auto;
}

p {
  line-height: 1.2;
}

ol {
  padding-inline: 14px 0;

  li {
    margin: 0 0 0.5em;
  }
}
