<div class="task-wrapper">
  <div class="add-task-grid">
    <div class="title add-task-item">
      <div class="bold_600 headword">Title<span class="red">*</span></div>
      <input
        type="text"
        placeholder="Enter a title"
        [(ngModel)]="title"
        (ngModelChange)="emitTaskData()"
        required
      />
      <div class="warning-info">Please enter a title.</div>
    </div>
    <div class="description add-task-item">
      <div class="bold_600 headword">Description</div>
      <textarea
        name="description"
        id="description"
        placeholder="Enter a description"
        [(ngModel)]="description"
        (ngModelChange)="emitTaskData()"
      ></textarea>
    </div>
    <div class="prio add-task-item">
      <div class="bold_600 headword">Prio</div>
      <div class="prio-button-wrapper">
        <join-button
          (click)="setPrioStatus('urgent')"
          [type]="'button'"
          [buttonCaptionFirst]="true"
          [buttonIcon]="true"
          [isPrioButton]="true"
          [prioStatus]="prioStatus"
          [caption]="'Urgent'"
          [defaultSrc]="'assets/icons/prio_urgent.svg'"
          [activeSrc]="'assets/icons/prio_urgent_white.svg'"
          [buttonClass]="'light-square-button'"
          [buttonColor]="'#FF3D00'"
          [prioClass]="'urgent'"
          [width]="'90px'"
          [height]="'32px'"
          [padding]="'0'"
        />
        <join-button
          (click)="setPrioStatus('medium')"
          [type]="'button'"
          [buttonCaptionFirst]="true"
          [buttonIcon]="true"
          [isPrioButton]="true"
          [prioStatus]="prioStatus"
          [caption]="'Medium'"
          [defaultSrc]="'assets/icons/prio_medium.svg'"
          [activeSrc]="'assets/icons/prio_medium_white.svg'"
          [buttonClass]="'light-square-button'"
          [buttonColor]="'#FFA800'"
          [prioClass]="'medium'"
          [width]="'90px'"
          [height]="'32px'"
          [padding]="'0'"
        />
        <join-button
          (click)="setPrioStatus('low')"
          [type]="'button'"
          [buttonCaptionFirst]="true"
          [buttonIcon]="true"
          [isPrioButton]="true"
          [prioStatus]="prioStatus"
          [caption]="'Low'"
          [defaultSrc]="'assets/icons/prio_low.svg'"
          [activeSrc]="'assets/icons/prio_low_white.svg'"
          [buttonClass]="'light-square-button'"
          [buttonColor]="'#7AE229'"
          [prioClass]="'low'"
          [width]="'90px'"
          [height]="'32px'"
          [padding]="'0'"
        />
      </div>
    </div>
    <div class="due-date add-task-item">
      <div class="bold_600 headword">Due date</div>
      <input type="date" [min]="today" 
      [(ngModel)]="due_date" 
      (ngModelChange)="emitTaskData()"
      required />
      <div class="warning-info">Please pick a date.</div>
    </div>
    <join-categories-dropdown
      class="add-task-item"
      [isNewTask]="true"
      [categories]="categories"
    />
    <join-contacts-dropdown
      class="add-task-item"
      [isNewTask]="true"
      [contacts]="contacts"
    />
    <div class="subtasks add-task-item">
      <div class="bold_600 headword">Subtasks</div>
      <!-- <div class="subtask-wrapper">
        <input type="text" placeholder="Add a new subtask" />
        <img src="assets/icons/plus.svg" alt="Add a subtask" />
      </div> -->
      <join-subtasks
        [isNewTask]="true"
      />
    </div>
    <div class="separator-line"></div>
  </div>
</div>
