<div class="task-wrapper">
  <div class="add-task-grid">
    <div class="title add-task-item">
      <div class="bold_600 headword">Title<span class="red">*</span></div>
      <input
        type="text"
        placeholder="Enter a title"
        [(ngModel)]="title"
        (ngModelChange)="updateTaskData()"
        required
      />
      <div class="warning-info">Please enter a title.</div>
    </div>
    <div class="description add-task-item">
      <div class="bold_600 headword">Description</div>
      <textarea
        name="description"
        id="description"
        placeholder="Enter a description"
        [(ngModel)]="description"
        (ngModelChange)="updateTaskData()"
      ></textarea>
    </div>
    <div class="prio add-task-item">
      <div class="bold_600 headword">Prio</div>
      <div class="prio-button-wrapper">
        <join-button
          (click)="setPrioStatus('urgent')"
          [type]="'button'"
          [buttonCaptionFirst]="true"
          [buttonIcon]="true"
          [isPrioButton]="true"
          [prioStatus]="prioStatus"
          [caption]="'Urgent'"
          [defaultSrc]="'assets/icons/prio_urgent.svg'"
          [activeSrc]="'assets/icons/prio_urgent_white.svg'"
          [buttonClass]="'light-square-button'"
          [buttonColor]="'#FF3D00'"
          [prioClass]="'urgent'"
          [width]="'90px'"
          [height]="'32px'"
          [padding]="'0'"
        />
        <join-button
          (click)="setPrioStatus('medium')"
          [type]="'button'"
          [buttonCaptionFirst]="true"
          [buttonIcon]="true"
          [isPrioButton]="true"
          [prioStatus]="prioStatus"
          [caption]="'Medium'"
          [defaultSrc]="'assets/icons/prio_medium.svg'"
          [activeSrc]="'assets/icons/prio_medium_white.svg'"
          [buttonClass]="'light-square-button'"
          [buttonColor]="'#FFA800'"
          [prioClass]="'medium'"
          [width]="'90px'"
          [height]="'32px'"
          [padding]="'0'"
        />
        <join-button
          (click)="setPrioStatus('low')"
          [type]="'button'"
          [buttonCaptionFirst]="true"
          [buttonIcon]="true"
          [isPrioButton]="true"
          [prioStatus]="prioStatus"
          [caption]="'Low'"
          [defaultSrc]="'assets/icons/prio_low.svg'"
          [activeSrc]="'assets/icons/prio_low_white.svg'"
          [buttonClass]="'light-square-button'"
          [buttonColor]="'#7AE229'"
          [prioClass]="'low'"
          [width]="'90px'"
          [height]="'32px'"
          [padding]="'0'"
        />
      </div>
    </div>
    <div class="due-date add-task-item">
      <div class="bold_600 headword">Due date</div>
      <input
        type="date"
        [min]="today"
        [(ngModel)]="due_date"
        (ngModelChange)="updateTaskData()"
        required
      />
      <div class="warning-info">Please pick a date.</div>
    </div>
    <div class="category add-task-item">
      <div class="bold_600 headword">
        <span>Categories</span><span class="red">*</span>
      </div>
      <join-categories-dropdown
        class="category-item"
        [isNewTask]="true"
        [categories]="categories"
      />
    </div>
    <div class="assigned-to add-task-item">
      <div class="bold_600 headword">Contacts</div>
      <join-contacts-dropdown
        class="contact-item"
        [isNewTask]="true"
        [contacts]="contacts"
      />
    </div>

    <div class="subtasks add-task-item">
      <div class="bold_600 headword">Subtasks</div>
      <join-subtasks [isNewTask]="true" />
    </div>
    <div class="separator-line"></div>
  </div>
</div>
