@import "../../../../scss_files/variables.scss";
@import "../../../../scss_files/mixins.scss";

.add-task-grid {
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "description"
    "priority"
    "due-date"
    "category"
    "assigned-to"
    "subtasks";
  overflow-y: auto;
}

.add-task-item {
  margin-block: 0.3em;
  padding: 0.5em 0;
  .headword {
    margin-block: 0 0.5em;
  }
  input,
  textarea {
    width: 100%;
    padding: 0.5em;
    outline: none;
    border: $bordergray 1px solid;
    border-radius: 4px;
  }
  textarea {
    resize: none;
    height: 150px;
    overflow-y: auto;
  }
  input:focus,
  textarea:focus {
    border: $lightblue 1px solid;
  }
  .warning-info {
    margin: 0.5em 0 0;
    font-size: 0.75rem;
    color: $red;
    opacity: 0;
  }
}

.prio-button-wrapper {
  max-width: 400px;
  margin: 0 auto;
  @include flex-container($align: center, $justify: space-between);
}

.title {
  grid-area: title;
}

.description {
  grid-area: description;
}

.prio {
  grid-area: priority;
}

.due-date {
  grid-area: due-date;
}

.category {
  grid-area: category;
}

join-categories-dropdown {
  min-height: 48px;
  width: 100%;
  position: relative;
}

.assigned-to {
  grid-area: assigned-to;
  .contact-item {
    position: relative;
    .contacts-wrapper {
      padding: 0.5em;
      @include flex-container();
      border: $anthracite 1px solid;
      border-radius: 4px;
      background-color: $white;
      cursor: pointer;
      .dropdown-arrow {
        height: 10px;
        transform: rotate(180deg);
      }
    }
  }
}

.subtasks {
  grid-area: subtasks;
  input {
    border: none;
    outline: none;
  }
  input:focus {
    border: none;
  }
  .subtask-wrapper {
    padding: 0 0.5em 0 0;
    @include flex-container();
    border: $anthracite 1px solid;
    border-radius: 4px;
    background-color: $white;
  }
  .subtask-wrapper:focus-within {
    border: $lightblue 1px solid;
  }
  img {
    cursor: pointer;
  }
}

.separator-line {
  display: none;
}

/* ===================================================================
MEDIA QUERIES
======================================================================*/

@media (min-width: 64em) {
  .add-task-grid {
    height: calc(100% - 72px);
    max-width: unset;
    grid-template-columns: 1fr 2px 1fr;
    grid-template-areas:
      "title separator due-date"
      "description separator priority"
      "description separator category"
      "assigned-to separator subtasks";
    column-gap: 12px;
  }



  .separator-line {
    grid-row: 1 / -1;
    display: block;
    height: 90%;
    width: 2px;
    align-self: center;
    background-color: $gray;
  }
}
