<section>
  <join-header-content></join-header-content>
  <main>
    <div class="inner-main-header">
      <h1>Board</h1>
      <div class="board-task-button-wrapper">
        <button class="mobile-link-add-task plus-button-dark">
          <a href="../html/add_task.html">
            <img src="../assets/icons/plus_white.svg" alt="add new task" />
          </a>
        </button>
        <button
          class="desktop-link-add-task plus-button-dark"
          onclick="openAddTaskOverlay()"
        >
          <img src="../../assets/icons/plus_white.svg" alt="add new task" />
        </button>
      </div>
      <div class="search-wrapper">
        <input type="text" />
      </div>
      <div class="match-box"><span>5 matches </span>found</div>
    </div>
    <div class="outer-board-wrapper">
      <div class="todo">
        <div class="board-list-headline-wrapper">
          <h2>To do</h2>
          <button>
            <img
              src="../../assets/icons/plus.svg"
              alt="add new task in todo list"
            />
          </button>
        </div>
      </div>
      <div class="in-progress">
        <div class="board-list-headline-wrapper">
          <h2>In progress</h2>
          <button>
            <img
              src="../assets/icons/plus.svg"
              alt="add new task in in progress list"
            />
          </button>
        </div>
      </div>
      <div class="await-feedback">
        <div class="board-list-headline-wrapper">
          <h2>Await feedback</h2>
          <button>
            <img
              src="../assets/icons/plus.svg"
              alt="add new task in await feedback list"
            />
          </button>
        </div>
      </div>
      <div class="done">
        <div class="board-list-headline-wrapper">
          <h2>Done</h2>
          <div class="d-none">
            <img
              src="../assets/icons/plus.svg"
              alt="add new task in done list"
            />
          </div>
        </div>
      </div>
    </div>
  </main>
  <join-navbar></join-navbar>
</section>
