<section>
  <join-header-content></join-header-content>
  <main>
    <div class="inner-main-wrapper inner_add_task_main_wrapper">
      <div class="inner-main-header">
        <h1>Add Task</h1>
      </div>
      <join-add-task-content></join-add-task-content>
      <div class="add-task-button-wrapper">
        <div>This field is required</div>
        <div class="button-wrapper">
          <button>Clear</button>
          <button>Create task</button>
        </div>
      </div>
    </div>
  </main>
  <join-navbar></join-navbar>
</section>
