<section class="content">
  <div class="inner-content-wrapper">
    <div class="title-wrapper">
      <h1>Privacy Policy</h1>
      <a
        routerLink="/main-content/summary"
        class="back-to-summary"
        [ngClass]="{ inactive: !isLoggedIn }"
      >
        <img src="assets/icons/arrow_left_line_default.svg" alt="" />
      </a>
    </div>
    <div class="content-wrapper">
      <p>
        We are committed to protecting your personal data. This Privacy Policy
        provides information about the collection, processing, and use of your
        data when using our Kanban App, in accordance with the General Data
        Protection Regulation (GDPR).
      </p>

      <h2>1. Name and Contact of the Data Controller</h2>
      <p>
        The data controller responsible for the processing of data in this app
        is:
      </p>
      <ul>
        <li>Responsible: Annette Lasar</li>
        <li>Address: Buchfeldstraße 19, 74632 Neuenstein, Germany]</li>
        <li>Phone: 0151-70145561</li>
        <li>Email: contact&commat;annette-lasar.de</li>
      </ul>

      <h2>2. Data Collection and Processing</h2>
      <h3>2.1 User Registration and Login</h3>
      <p>
        When you register and log in to our app, we collect the following
        personal data to create and manage your account:
      </p>
      <ul>
        <li>Name</li>
        <li>Email address</li>
        <li>Username</li>
        <li>Task and Contact Management</li>
        <li>
          The data you enter for tasks and contacts are stored to provide the
          functionality of the app. This data includes:
        </li>

        <li>Task details (titles, descriptions, deadlines, etc.)</li>
        <li>
          Contact information (names, email addresses, phone numbers etc.)
        </li>
      </ul>
      <h3>2.2 Legal Basis for Data Processing</h3>
      <p>
        The processing of your personal data is based on Article 6(1)(b) GDPR,
        which allows processing for the performance of a contract, as your data
        is necessary to provide you with the services of our Kanban App. Where
        you have consented to additional uses, processing is based on Article
        6(1)(a) GDPR.
      </p>

      <h3>2.3 Data Retention</h3>
      <p>
        Your data will be stored for as long as necessary to provide you with
        our services. If you delete your account or if your account remains
        inactive for more than three months, your data will be permanently
        deleted unless a longer retention period is required by law.
      </p>
      <h3>2.4 Sharing and Transfer of Data</h3>
      <p>
        Your personal data will not be shared with third parties without your
        express consent, unless required by law.
      </p>
      <h3>2.5 Your Rights</h3>
      <p>You have the following rights regarding your personal data:</p>
      <ul>
        <li>
          Right to access: You can request information about your personal data
          processed by us.
        </li>
        <li>
          Right to rectification: You can request the correction of inaccurate
          personal data.
        </li>
        <li>
          Right to erasure: You may request the deletion of your personal data,
          provided it is not required for legal reasons.
        </li>
        <li>
          Right to restriction of processing: You can request that we restrict
          the processing of your data in certain circumstances.
        </li>
        <li>
          Right to data portability: You can request that we transfer your data
          to another data controller in a structured, commonly used format.
        </li>
        <li>
          Right to object: You can object to the processing of your data on
          grounds relating to your particular situation.
        </li>
      </ul>
      <p>
        To exercise any of these rights, please contact us at the
        above-mentioned contact details.
      </p>
      <h3>2.6 Data Security</h3>
      <p>
        We take appropriate technical and organizational measures to protect
        your data against unauthorized access, alteration, or deletion.
      </p>
      <h3>2.7 Changes to the Privacy Policy</h3>
      <p>
        We may update this Privacy Policy from time to time to reflect changes
        in our practices or applicable laws. The latest version will always be
        available on our website or within the app.
      </p>
      <p>Last Updated: February 2026</p>
    </div>
  </div>
</section>
