@use "./scss_files/index.scss" as *;

* {
  font-family: "Inter", sans-serif;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $lightgray;
}

*::-webkit-scrollbar-thumb {
  background-color: $darkblue;
  border: 3px solid $darkblue;
  border-radius: 10px;
}

body {
  background-color: $verylightgray;
}

join-welcome,
join-sign-up {
  width: 100%;
  height: 100%;
}

join-main-content {
  width: 100%;
  height: 100%;
  max-height: 800px;
  box-shadow: 1px 1px 1px 1px $mediumgray;
}

join-header-content {
  grid-area: header;
  @include flex-container($align: center);
}

join-categories-dropdown {
  width: 80%;
}

.d-none {
  display: none;
}
