@use "../../../scss_files/index.scss" as *;

.outer-wrapper {
  width: 90%;
  max-width: 500px;
  height: 95%;
  max-height: 500px;
  padding-block: 24px;
  @include flex-container(column, center, space-between);
  background-color: $white;
  border-radius: 30px;
  box-shadow: 1px 1px 6px 1px $mediumgray;
}

.sign-up-header {
  width: 90%;
  @include flex-container($direction: column);
}

.title-wrapper {
  width: 100%;
  position: relative;
  @include flex-container($align: center);
  h1 {
    margin: 0 0 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(32px, 6vw, 56px);
    font-weight: 700;
  }
}

.separator {
  margin: 8px 0 0;
  width: 30%;
  height: 3px;
  align-self: center;
  background-color: $lightblue;
}

form {
  width: 90%;
  height: 80%;
  @include flex-container(column, center, space-between);
}

.sign-up-content {
  width: 100%;
  height: 60%;
  @include flex-container($direction: column);
  .input-message-wrapper {
    width: 100%;
  }
  .input-wrapper {
    width: 100%;
    margin: 0 0 0.3em;
    padding-inline: 8px;
    @include flex-container($align: center, $justify: space-between);
    border: 1px solid $bordergray;
    border-radius: 8px;
    &:focus-within {
      outline: $lightblue 1px solid;
    }
  }
  .password-wrapper {
    img {
      cursor: pointer;
    }
  }
  input {
    height: 32px;
    flex: 1 1 0;
    border: none;
    outline: none;
    &::placeholder {
      font-size: 1.1rem;
      color: $bordergray;
    }
  }
  .warning-message-wrapper {
    width: 100%;
    @include flex-container($align: flex-start);
  }
  .warning-message {
    margin: 0 0 0.5em;
    padding: 0 0 0 0.25em;
    font-size: 0.9rem;
  }
}

.agreement {
  width: 100%;
  @include flex-container($align: center, $justify: center, $gap: 4px);
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  a {
    color: $lightblue;
    text-decoration: none;
  }
}
