@use "../../../../scss_files/index.scss" as *;

.welcome-legal-links {
  width: 100%;
  max-width: 656px;
  @include flex-container($justify: center);
}

.welcome-inner-legal-wrapper {
  @include flex-container($align: center, $gap: 24px);
  font-size: 0.8rem;
  a {
    width: 100px;
    text-decoration: none;
    color: $darkgray;
    text-align: center;
  }
  a:hover {
    color: $lightblue;
    font-weight: 600;
  }
}

/* ===================================================================
MEDIA QUERIES
======================================================================*/

@media (min-width: 64em) {
  .navbar-legal-links {
    width: 100%;
    @include flex-container($direction: column, $align: flex-start);
    .navbar-inner-legal-wrapper {
      width: 100%;
      @include flex-container(
        $direction: column,
        $align: center,
        $justify: space-between,
        $gap: 16px
      );
    }
    a {
      text-decoration: none;
      color: white;
      font-size: 0.9rem;
    }
  }
}
